<footer class="footer fixed-bottom bg-dark">
    <div class="container">
        <p class="text-light">Made by: Sagandykova Alina, SE-2206</p>
<!--        <form action="/download" method="post" class="form-inline">-->
<!--            <button type="submit" class="btn btn-primary">Download latest history</button>-->
<!--        </form>-->
    </div>
</footer>
