<div class="form-group">
    <select class="form-control" id="languageSelector">
        <option value="">Choose language</option>
        <option value="en">English</option>
        <option value="ru">Russian</option>
    </select>
</div>
