<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND Hub - Spells Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%- include('partials/style') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <h1>D&D Spells</h1>

        <form action="/dnd/search" method="GET" class="mt-4">
            <div class="form-row align-items-center">
                <div class="col-auto">
                    <label class="sr-only" for="spellName">Enter Spell Name:</label>
                    <input type="text" class="form-control" id="spellName" name="spellName" placeholder="Spell Name">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <p>For example: Acid Arrow or Aid</p>
    </div>

    <%- include('partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
