<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DND Hub - Main Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <%- include('partials/style') %>
</head>
<body>
    <%- include('partials/navbar') %>


    <div class="container">
        <%- include('partials/selectLang') %>

        <section class="mt-5">
            <% if (language === 'en') { %>
                <h1>Welcome to DND Hub</h1>
                <p>Explore the fascinating world of Dungeons & Dragons with us! Our website provides access to a vast repository of DND information, including races, classes, spells, and much more. Additionally, you can browse our marketplace to shop for a variety of DND-related items.</p>
            <% } else if (language === 'ru') { %>
                <h1>Добро пожаловать в DND Hub</h1>
                <p>Исследуйте увлекательный мир Dungeons & Dragons вместе с нами! Наш веб-сайт предоставляет доступ к обширному хранилищу информации DND, включая расы, классы, заклинания и многое другое. Кроме того, вы можете просмотреть нашу торговую площадку и купить различные товары, связанные с DND.</p>
            <% } %>
        </section>

        <section class="mt-5">
            <% if (language === 'en') { %>
                <h2>How to Use DND Hub</h2>
                <p>To get started:</p>
                <ol>
                    <li>Sign up for an account to unlock additional features and personalized recommendations.</li>
                    <li>Explore the DND information by navigating through different sections.</li>
                    <li>Visit our marketplace to find and purchase your favorite DND items.</li>
                    <li>Try to get the highest score in the quiz in the BoardGames category.</li>
                </ol>
            <% } else if (language === 'ru') { %>
                <h2>Как использовать DND Hub</h2>
                <p>Чтобы начать:</p>
                <ol>
                    <li>Зарегистрируйте учетную запись, чтобы разблокировать дополнительные функции и персональные рекомендации.</li>
                    <li>Изучите информацию о режиме 'Не беспокоить', перемещаясь по различным разделам.</li>
                    <li>Посетите нашу торговую площадку, чтобы найти и купить любимые товары DND.</li>
                    <li>Постарайтесь набрать наибольшее количество баллов в викторине в категории «Настольные игры».</li>
                </ol>
            <% } %>
        </section>
    </div>

    <%- include('partials/footer') %>

    <script>
        document.getElementById('languageSelector').addEventListener('change', function() {
            var selectedLanguage = this.value;
            window.location.href = window.location.pathname + '?lang=' + selectedLanguage;
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
